openai
huggingface_hub
python-dotenv
streamlit
PyPDF2
langchain-google-genai>=0.0.1,<=0.0.9
langchain-core
google-generativeai
langchain
anthropic
voyageai
faiss-cpu
psutil
PyPDFLoader
python->=3.9,<4.0



